body{
  background-color: #fcba03;
}
#box{
    margin:50px 200px;
    padding:20px;
    border: 1px solid black;
    text-align: center;
}
#list{
  text-align: center;
  padding-right: 100px;
  list-style-position:inside;
}
